
<script>
    var el = document.getElementById('mainImage').src = "/Content/Images/sound.jpg";
</script>

<audio id="sndCheer" src="http://jb-net-poolstats.azurewebsites.net/Content/Sounds/cheer.wav" autostart="false"></audio>
<a onclick="PlayCheer()"></a>

<script>
    function PlayCheer() {
        var sound = document.getElementById("sndCheer");
        sound.play()
    }
</script>

<audio id="sndBoo" src="http://jb-net-poolstats.azurewebsites.net/Content/Sounds/boo.wav" autostart="false"></audio>
<a onclick="PlayBoo()"></a>
<script>
    function PlayBoo() {
        var sound = document.getElementById("sndBoo");
        sound.play()
    }
</script>
<br />

<h4>Sound Archive</h4>

<span style="font-size: 8pt;">Send me the links for the sounds you want me to add and I'll see what I can do.</span><br /><br />

<p style="padding-top: 10px">
    <a href="#!" onclick='PlayCheer()'>Cheer</a>
</p>
<p style="padding-top: 10px">
    <a href="#!" onclick='PlayBoo()'>Boo</a>
</p>
<br />
<br />

<div>
    @if (((bool)ViewData["Changable"]))
    {
        @Html.ActionLink("Back to List", "Back", new { id = "" })
    }
    else
    {
        @Html.ActionLink("Back to List", "BackLocked", new { id = "" })
    }
</div>
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
